<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [4]:
x = 40
y = x + 2
print(y)

42

### 1.2 Shorter and cleaner

In [9]:
y = 40
y +=2
y

y -=2
y

y /=2
y

y *=2
y

40.0

### 1.3 Asking questions

In [13]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]
"apple" in fruits
"banana" not in fruits

False

### 1.4 There is more to if

In [15]:
name = 'Robin'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello Sidekick | Robin!

### 1.5 Python stores information in different formats or types.

In [18]:
x = int(1.234)
print(x, type(x))

x = str(1.234)
print(x, type(x))

x = float(1.234)
print(x, type(x))

x = complex(1.234)
print(x, type(x))

1 <class 'int'>
1.234 <class 'str'>
1.234 <class 'float'>
(1.234+0j) <class 'complex'>

### 1.6 Combining English and variables

In [36]:
name = "Adele"
print(f"Hello {name}!")
print(f"Hello {name.upper()}!")
x = 10
print(f"The value of {x} squared is {x**2}!")
import numpy as np
text = "Adele is smart haha"
print(f" {text}!")
print(f" {text:>30}!")
print(f" {text:^30}!")
print(f" {text:<30}!")
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

Hello Adele!
Hello ADELE!
The value of 10 squared is 100!
 Adele is smart haha!
            Adele is smart haha!
      Adele is smart haha      !
 Adele is smart haha           !
The cube of pi to 6 decimal places is 31.006277
The cube of pi to 6 decimal places is 3.100628e+01

### 1.7 Python can be a prima-donna.

In [38]:
Print('haha')

NameError: name 'Print' is not defined

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [42]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [6]:
def hello(name):
    if name == "Batman" or name == "Black widow":
        print(f"Hello {name.upper()}")
    else:
        print(f"Hello {name.lower()}")


hello("Batman")
hello("Black widow")
hello("Aquaman")

Hello BATMAN
Hello BLACK WIDOW
Hello aquaman

## Exercise 2 :  Bias for some heroes, continues

In [14]:
def hello(name):
    if name.lower() == 'batman':
        print('Hello BATMAN!')
    elif name.lower() == 'black widow':
        print('Hello BLACK WIDOW!')
    else:
        print(f'Hello {name.lower()}!')
        
name = 'bAtman'       
hello(name)

Hello BATMAN!

## Exercise 3 :  Look for help to replace

In [12]:
str = "The Joker lives in Gothan City."
str_replace = str.replace("Joker", "Batman")
print("String after replacing: " + str_replace)

String after replacing: The Batman lives in Gothan City.